 <div class="slds-col slds-size_full slds-m-bottom--medium">
     <lightning-input type="file" accept=".jpeg, .jpg, .png, .pdf " label="Attachments"
                      onchange={openfileUpload} disabled={filePresent} multiple varient="hidden-label">
     </lightning-input>
</div>

<div class="slds-col slds-size_full slds-m-bottom--large">
    <template if:true={filePresent}>
        {filesName}
    </template>
    <lightning-button if:true={filePresent} variant="destructive" label="Delete" title="Delete"
                      onclick={handleDelete} class="slds-m-left_x-small"></lightning-button>
</div>
